/* Isso vai no topo do seu arquivo de CSS global */
body {
    background-color: #f2f0ee; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    background-color: #ffffff; 
    width: 100%;
    max-width: 1300px; 
    min-height: 90vh;
    border-radius: 16px; 
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.15); 
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    margin-top: 70px
}