#container-header {
    height: 88px;
    width: 100%;
    background-color: var(--branco);
    padding-left: 12%;
    
    display: flex;       
    align-items: center;    
    gap: 12px;            
}

#container-header p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;       
    line-height: 21px;    
    letter-spacing: 0%;    

    color: var(--cinza);         
    
    display: flex;
    align-items: center;
    text-decoration: none;  
}

#container-header div {
    display: flex;
    align-items: center;
    height: 100%;          
}