* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

:root {
  --fundo: #fff;
  --branco: #fff;
  --cinza: #58595b;
  --cinza-claro: #f2f0ee;
  --preto: #2b2929;
  --vermelho: #e45447;
}

[data-theme="dark"] {
  --fundo: #0d1017;
  --branco: #fff;
  --cinza: #fff;
  --cinza-claro: #1e1e1e;
  --preto: #2b2929;
  --vermelho: #e45447;
}
